@import url(./font.css);

/* O'zgaruvchi */
:root {
    --RR: 'Roboto-Regular';
    --RB: 'Roboto-Bold';
    --primary: rgba(50, 46, 65, 1);
    --secondary: #fff;
    --violet: rgba(84, 66, 148, 1);
    --gold: rgba(213, 115, 0, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ********************************************** header start *************************************** */

.page__header {
    background-color: var(--primary);
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__link {
    color: var(--secondary);
    font-family: var(--RR);
    font-size: 16px;
    line-height: 19px;
    padding: 23px 14px;
    transition: .3s;
}

.nav__link:hover {
    background-color: var(--secondary);
    color: var(--gold);
}